<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <link rel="stylesheet" href="/css/login.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <title>Register Admin</title>
</head>

<body>
  <div class="d-flex justify-content-center align-items-center form-container">
    <div class="form-block">
      <h3 class="text-center">Register</h3>
      <form id="registerForm">
        <div class="form-group first mb-2">
          <label for="nip">NIP</label>
          <input type="text" class="form-control" id="nip" pattern="\d{18}" title="NIP harus terdiri dari 18 digit"
            required />
          <small id="nipError" class="text-danger"></small>
        </div>
        <div class="form-group mb-2">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" />
        </div>
        <div class="form-group mb-2">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" />
          <p class="text-muted">
            * Kata sandi harus terdiri dari minimal 8 karakter, dan terdiri
            dari satu huruf besar, satu huruf kecil, satu angka, dan satu
            karakter khusus
          </p>
          <small id="passwordError" class="text-danger"></small>
        </div>
        <div class="form-group last mb-3">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" />
          <small id="confirmPasswordError" class="text-danger"></small>
        </div>
        <div class="form-group mb-2">
          <input type="checkbox" id="togglePassword" />
          <label for="togglePassword">Show Password</label>
        </div>
        <button id="btnRegister" type="submit" class="btn rounded rounded-3 text-white btn-block btn-primary py-2">
          Register
        </button>
      </form>
    </div>
  </div>

  <script src="/js/register.js" type="module"></script>
</body>

</html>